.burger {
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bun {
    height:4rem;
    width:16rem;
    border: solid #e27b36 24px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #e27b36;
    font-size: 2rem;
}

.bunTop {
    border-radius: 48px 48px 0px 0px
}

.bunBottom {
    border-radius: 24px ;
}

.text {
    margin: .5rem 0;
    font-size: 2rem;
    text-align: center;
}

.egg {
    color: #ffd963;
}

.bacon {
    color: #c45e38;
}

.cheese {
    color: #d6bb22;
}

.patty {
    color: #702e05;
}

.salad {
    color: #91ce50;
}