.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.NavigationItem a {
    color: #8F5C2C;
    text-decoration: none;
    width: 100%;
    padding: 16px 10px;
    box-sizing: border-box;
    display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: red;
}

@media (min-width: 500px) {
    .NavigationItem {
        margin: 10px 0;
        box-sizing: border-box;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center
    }
    
    .NavigationItem a {
        color: #FFFFFF;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }
    
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active {
        background-color: darkred;
        border-bottom: 4px solid orange;
        color: #FFFFFF;
    }
}